._32023_eE_hpRQ4bt66uY76 {
  background-color: #fff;
  position: relative;
  height: 94px;
  transition: margin-top 0.5s ease;
  white-space: pre;
  box-shadow: 0 0 16px 8px rgba(158, 160, 169, 0.25);
  z-index: 1;
}
@media (min-width: 768px) {
  ._32023_eE_hpRQ4bt66uY76 {
    height: 56px;
  }
}
._10DmIkxRaNqqBrtWBxwYOg {
  z-index: -1;
  margin-top: -94px;
}
@media (min-width: 768px) {
  ._10DmIkxRaNqqBrtWBxwYOg {
    margin-top: -56px;
  }
}
._9ocxGUx7CG7DoWXUR4z7Y {
  position: absolute;
  right: 12px;
}
._9ocxGUx7CG7DoWXUR4z7Y :hover {
  cursor: pointer;
}
@media (max-width: 768px) {
  ._9ocxGUx7CG7DoWXUR4z7Y {
    top: 5px;
    right: 5px;
  }
}
.zywZodVTdzAQ_FL4uTNtA {
  font-size: 28px;
  line-height: 85% !important;
  font-family: "Sohne Schmal", serif;
}
._2jEK7a4aDEoiGtFE8YuKVd {
  color: #f24462;
}
.iKFew8RepGSbwfdx0hALU {
  background-color: #fff;
  position: relative;
  height: 124px;
  transition: margin-top 0.5s ease;
  transition: height 0.3s ease;
  white-space: pre;
}
@media (min-width: 768px) {
  .iKFew8RepGSbwfdx0hALU {
    height: 96px;
  }
}
@media (min-width: 1200px) {
  .iKFew8RepGSbwfdx0hALU {
    height: 67px;
  }
}
._2_s5wBoRiWCEVwHV5l6aqz {
  height: 348px;
  transition: height 0.3s ease;
}
@media (min-width: 576px) {
  ._2_s5wBoRiWCEVwHV5l6aqz {
    height: 216px;
  }
}
@media (min-width: 961px) {
  ._2_s5wBoRiWCEVwHV5l6aqz {
    height: 164px;
  }
}
._2QawBOzFKImf3onbhoc6QW {
  z-index: -1;
  margin-top: -124px;
}
@media (min-width: 960px) {
  ._2QawBOzFKImf3onbhoc6QW {
    height: -96px;
  }
}
@media (min-width: 1200px) {
  ._2QawBOzFKImf3onbhoc6QW {
    height: -67px;
  }
}
._21NXryvySAhGs0Gx3ifDDg {
  position: absolute;
  right: 12px;
}
._21NXryvySAhGs0Gx3ifDDg :hover {
  cursor: pointer;
}
@media (max-width: 768px) {
  ._21NXryvySAhGs0Gx3ifDDg {
    top: 5px;
    right: 5px;
  }
}
.ONFJqvA7cTFumMhpKIu1L {
  cursor: pointer;
}
._2jDZqKEtGuBdK7TseBDZ8w {
  font-size: 28px;
  line-height: 85% !important;
  font-family: "Sohne Schmal", serif;
}
._2tzc5x9PVTGRa_D1ax3mfP {
  color: #f24462;
}
._2Bv9Qx4qVIPdrutPm4uR1g {
  color: #ef4562;
}
.WZMjcW_y_EXbvyVxczbTG {
  height: 100%;
  white-space: normal;
}
._3q8Z6kZ__neZ8p1gc72Pjz {
  max-width: 360px;
}
@media (min-width: 768px) {
  ._2ZKGC7ex32yCEQSNAiZRsR {
    border-left: 2px solid #f3f3f3;
  }
}
._14Mybz0m6W0VurXJtDW4y2 {
  max-height: 708px;
}
._2Azf-OciqQA7Wt2v2aVcMe {
  height: 708px;
  overflow: scroll;
}
._1Z05l3w94QYl3VueXK4r3l {
  height: 3rem;
}
._9yWFz0-ylUCT8xEgn5U_9 {
  width: 80%;
}
@media (min-width: 960px) {
  ._9yWFz0-ylUCT8xEgn5U_9 {
    width: 100%;
  }
}
._3Xkk1e_wgT3LNmLLOx6uGH {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #191c21;
  overflow: hidden;
  height: 100%;
}
._1w4262KQSaH570kQItuABU {
  position: absolute;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
._3ZSyR0ZNVqIApzolz02Xuy {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
._1zBCafHuvUXNyODOxTkrZf {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  filter: blur(10px);
  opacity: 0.8;
}
@media (min-width: 576px) {
  ._1zBCafHuvUXNyODOxTkrZf {
    filter: blur(0);
    opacity: 1;
  }
}
._1zBCafHuvUXNyODOxTkrZf .bc-player {
  overflow: visible;
}
._1zBCafHuvUXNyODOxTkrZf video {
  position: fixed;
  top: 0;
  left: 50%;
  width: 100vw;
  height: 100vh;
  transform: translateX(-50%);
  pointer-events: none;
  opacity: 1;
}
@media (min-aspect-ratio: 16/9) {
  ._1zBCafHuvUXNyODOxTkrZf video {
    width: 100vw !important;
    height: auto !important;
  }
}
@media (max-aspect-ratio: 16/9) {
  ._1zBCafHuvUXNyODOxTkrZf video {
    width: auto !important;
    height: 100vh !important;
  }
}
._23rt2QBYSwgmVRWvT2owkY {
  position: relative;
  background: #000;
  z-index: 1;
  box-shadow: 0 0 30px 30px #000;
}
@media (min-width: 576px) {
  ._23rt2QBYSwgmVRWvT2owkY {
    height: 50px;
    box-shadow: 0 0 100px 100px #000;
  }
}
._1I5OA_b4MKhuP268EShEoR ._3unPkn5c8PQ6Rz1_hEX5fD .bc-player__autoplay-unmute {
  display: none;
}
@media (max-width: 960px) {
  .FsWNt35LrUaPSa9WSxaA {
    margin-top: -32px;
  }
}
._2AAuDVf7LLXdl80XNfq5VK {
  width: 100%;
  overflow: hidden;
}
@media (min-width: 576px) {
  ._2AAuDVf7LLXdl80XNfq5VK {
    position: relative;
  }
}
._3IJrtjwHUbAXAxjOmHisbf {
  align-items: flex-end;
}
@media (min-width: 2560px) {
  ._3IJrtjwHUbAXAxjOmHisbf {
    align-items: center;
  }
}
.JQLM4RsesablUQOc3MNE0 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  filter: blur(10px);
  opacity: 0.8;
}
@media (min-width: 576px) {
  .JQLM4RsesablUQOc3MNE0 {
    filter: blur(0);
    opacity: 1;
  }
}
.JQLM4RsesablUQOc3MNE0 .bc-player {
  overflow: visible;
}
.JQLM4RsesablUQOc3MNE0 video {
  position: fixed;
  top: 0;
  left: 50%;
  width: 100vw;
  height: 100vh;
  transform: translateX(-50%);
  pointer-events: none;
  opacity: 1;
}
@media (min-aspect-ratio: 16/9) {
  .JQLM4RsesablUQOc3MNE0 video {
    width: 100vw !important;
    height: auto !important;
  }
}
@media (max-aspect-ratio: 16/9) {
  .JQLM4RsesablUQOc3MNE0 video {
    width: auto !important;
    height: 100vh !important;
  }
}
._27w9-gslg0yzo-TR4pjvad {
  position: relative;
  background: #000;
  z-index: 1;
  box-shadow: 0 0 30px 30px #000;
}
@media (min-width: 576px) {
  ._27w9-gslg0yzo-TR4pjvad {
    height: 50px;
    box-shadow: 0 0 100px 100px #000;
  }
}
._2AAuDVf7LLXdl80XNfq5VK ._2RvQUtM5z9G87rU04OqyFk .bc-player__autoplay-unmute {
  display: none;
}
._1BLJJ08MkI1DiXZwD851qV {
  height: calc(100vh - 120px);
  min-height: 500px;
}
._1J5aI_LON8znLPL8Ri6dkS {
  width: 100%;
}
._3JwjBpnb_Ta3nct4PA6Gtw {
  color: #fff;
}
@media (min-width: 768px) {
  .n70Y5_9e-z7R2Clkv2ZA3 {
    max-width: 311px;
    margin-right: auto;
    margin-left: auto;
  }
}
._2KSoVyoJELkgR2_ug4MZoT {
  line-height: 85% !important;
  font-family: "Sohne Schmal", serif;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  letter-spacing: inherit;
}
._2vfjLpA4I6Aie4q3SdMKow {
  color: #3c5a99;
}
._20FoNtTIqqIgYrgqwjSQ_D {
  color: #0078ff;
}
._2i0qpaAvDO5Qk-p5ZAyA0p {
  color: #0e76a8;
}
.lWhCwDB_TwHIGRDa5k70O {
  color: #2ba2ef;
}
.qNU7_mv_RN3BH6AzXRJaI {
  border-radius: 4px;
  background-color: #191c21;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.25s ease-in-out;
}
.qNU7_mv_RN3BH6AzXRJaI:hover {
  background-color: #272c33;
}
._19kgdXueav0LdlAJkuU6Sa {
  background-color: #272c33;
}
._3zH3CTIaI3wnyAIYT1zyIy {
  opacity: 0;
  max-height: 0;
  transition: all 0.45s none;
}
.xanosuyksuuGdcS_ywhR4 {
  opacity: 1;
  height: auto;
  max-height: 100vh;
}
._1RwCIpNuZl6gCMBeDD77Ep {
  z-index: 10000;
  max-width: 365px;
}
.gIOfZZXyT72uVOcnq-yB2 {
  color: #000;
  cursor: pointer !important;
  letter-spacing: 0.12em;
}
._2BXNIZ98I21S9jtvL6iK4g {
  width: 50%;
}
.SYyAxCkHohL3j31V_uaaR {
  z-index: 1071;
}
.SYyAxCkHohL3j31V_uaaR .mc-modal__content {
  overflow: hidden;
}
.SYyAxCkHohL3j31V_uaaR .mc-modal__close,
.SYyAxCkHohL3j31V_uaaR .bc-player .c-button,
.SYyAxCkHohL3j31V_uaaR .bc-player .c-button--link {
  background-color: #222326;
  border-radius: 50%;
  color: #fff;
  margin: var(--mc-scale-4);
  opacity: 0.8;
  padding: var(--mc-scale-2);
}
@media (max-width: 576px) {
  ._3n9bHd-62ZeeCpTxMQfnXk {
    max-width: 220px;
  }
}
._1Q05doWuSiUBDvLmOPL0_ {
  margin: 0 -24px -30px;
}
@media (min-width: 513px) and (max-width: 960px) {
  ._1Q05doWuSiUBDvLmOPL0_ {
    margin: 0 -41px -41px;
  }
}
@media (min-width: 960px) {
  ._1Q05doWuSiUBDvLmOPL0_ {
    margin: -69px -16px -60px -69px;
    min-height: 740px;
  }
}
@media (min-width: 960px) and (max-width: 1200px) {
  ._1Q05doWuSiUBDvLmOPL0_ {
    min-height: 860px;
  }
}
._2TokLxvzR-fCUUkvrvwz5k {
  height: 12px;
  width: 12px;
}
.sV_8YPsr5h7d7mRRamSXf {
  height: 15px;
  width: 12px;
}
@media (min-width: 768px) {
  .sV_8YPsr5h7d7mRRamSXf {
    height: 12px;
  }
}
._3_sG5CAJkByCoF6cWI-WVm {
  height: 8px;
  width: 8px;
  top: 2px;
  left: 2px;
}
.IuV-R2auQBgjYVEBfPB8k {
  height: 3px;
}
._1oQpdxwPRua5APzWjxSqOt {
  width: 3px;
  height: 100%;
}
._1tj5bZiuNWGwvL64Bo5X1M {
  margin: 8px 0 -8px;
}
._1J52TNjXgf1jov3fsiX_dl {
  height: 3px;
  width: 35%;
  margin-top: -3px;
}
._2ll7D_b5H0hAtcXRox4LMH {
  height: 100%;
  width: 35%;
  width: 3px;
}
._3L8WDMIyabKMZP1MU0BslJ {
  margin-top: -14px !important;
}
.CCqFWsQm7RL0Wv_BKUfjH {
  flex: 0 0 16%;
  max-width: 16%;
  margin: 0px -15px;
}
@media (max-width: 960px) {
  .CCqFWsQm7RL0Wv_BKUfjH {
    flex: 0 0 20%;
    max-width: 20%;
    margin: 0px -20px;
  }
}
._3odeCkAoYWuHoIff_S4NLc {
  flex: 0 0 35%;
  max-width: 35%;
  margin: 0px -15px;
  z-index: 98;
}
@media (min-width: 768px) and (max-width: 960px) {
  ._3odeCkAoYWuHoIff_S4NLc {
    flex: 0 0 25%;
    max-width: 25%;
    margin: 0;
  }
}
@media (min-width: 960px) {
  ._3odeCkAoYWuHoIff_S4NLc {
    flex: 0 0 18%;
    max-width: 18%;
    margin: 0px -20px;
  }
}
._3VHkKrZtoTyINFeKTnUZZ5 {
  flex: 0 0 40%;
  max-width: 40%;
  margin: 0px -15px;
  z-index: 99;
}
@media (min-width: 768px) and (max-width: 960px) {
  ._3VHkKrZtoTyINFeKTnUZZ5 {
    flex: 0 0 30%;
    max-width: 30%;
    margin: 0px -15px;
  }
}
@media (min-width: 960px) {
  ._3VHkKrZtoTyINFeKTnUZZ5 {
    flex: 0 0 20%;
    max-width: 20%;
    margin: 0px -20px;
  }
}
@media (min-width: 960px) {
  .BjrUmrN3ErgKN3Emy6BpN {
    padding-left: 45px !important;
  }
}
._1dJfDABGLX2ocjFuiVUVKZ {
  padding-left: 6px;
}
.eHUlZL9Qyj_4mHaoBrhhk div:first-child {
  align-self: flex-start;
}
.rMZSvISTVJedQ4JTWBcQ {
  background: rgba(0, 0, 0, 0.4) !important;
}
._33SOuqIVDoGrwlhxKZKAEh form {
  display: flex;
  margin: 0;
  justify-content: center;
  flex-wrap: wrap;
}
._33SOuqIVDoGrwlhxKZKAEh form button.c-button--full-width,
._33SOuqIVDoGrwlhxKZKAEh form a.c-button--full-width {
  margin-left: var(--mc-scale-3);
  margin-right: 0;
  width: auto;
}
._33SOuqIVDoGrwlhxKZKAEh form div.mc-form-group {
  width: 20%;
}
._33SOuqIVDoGrwlhxKZKAEh form div.col-12 {
  padding-top: 0;
}
._2irwgKfpR08rU_SnZTLEPJ {
  position: relative;
  width: 100%;
  z-index: 1;
}
._2irwgKfpR08rU_SnZTLEPJ img {
  transition: opacity 250ms ease;
}
._2irwgKfpR08rU_SnZTLEPJ a:hover img {
  opacity: 1 !important;
}
._2irwgKfpR08rU_SnZTLEPJ ._2dq5-VbTMtXCeRpXDFjjJT {
  min-width: 120px;
}
._1bCV0ckW4X2m7u7Fi9S1y2 .mc-modal__close {
  background-color: #191c21;
  border-radius: 50%;
  opacity: 0.8;
  padding: var(--mc-scale-2);
}
._1bCV0ckW4X2m7u7Fi9S1y2 .bc-player {
  border-radius: var(--mc-scale-3);
}
._1Sq3ZUNz6cn2aYsqNAzOps {
  z-index: 1;
}
.KpMiC83fyADUAmB_1TEgH {
  z-index: 0 !important;
  opacity: 1;
  -webkit-animation-name: YFSkZvAvllJ-UNqavOxSc;
  animation-name: YFSkZvAvllJ-UNqavOxSc;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
}
@-webkit-keyframes YFSkZvAvllJ-UNqavOxSc {
  0% {
    opacity: 0;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes YFSkZvAvllJ-UNqavOxSc {
  0% {
    opacity: 0;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
html {
  font-size: 10px !important;
}
body {
  font-size: var(--mc-scale-4) !important;
  font-weight: 400;
  font-family: "Sohne", "Helvetica", "Arial", sans-serif;
  font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  line-height: 1.5;
  letter-spacing: 0.01em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
::-moz-selection {
  background: rgba(148, 154, 164, 0.3);
}
::selection {
  background: rgba(148, 154, 164, 0.3);
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
._127rCGLfhkaFqm4NfwykYD {
  font-size: var(--mc-scale-12);
}
._3F36181A0Uo2rd8zHW66tx {
  font-size: var(--mc-scale-11);
}
._2HEMWkXjwrD6qnR2fnXWts {
  font-size: var(--mc-scale-10);
}
.GecnTu6-Q1uXrTMvVSjOz {
  font-size: var(--mc-scale-9);
}
._1IpzY-TYae15LkClsIq3Md {
  font-size: var(--mc-scale-8);
}
.cRLy9cx4H609NcUJyWLNZ {
  font-size: var(--mc-scale-7);
}
._35LDta9YX5xtiD3_x2NCvN {
  font-size: var(--mc-scale-6);
}
._32QUqlUsg9JucKf4gb8dvV {
  font-size: var(--mc-scale-5);
}
._2lxakTS1tH2aQrtj58P_VW {
  font-size: var(--mc-scale-4);
}
.caNVe9NrUryJ1rV7qxcn_ {
  font-size: var(--mc-scale-3-5);
}
._3_fqyl6uvUcgBJYEKeeXfT {
  font-size: var(--mc-scale-3);
}
._127rCGLfhkaFqm4NfwykYD,
._3F36181A0Uo2rd8zHW66tx,
._2HEMWkXjwrD6qnR2fnXWts,
.GecnTu6-Q1uXrTMvVSjOz,
._1IpzY-TYae15LkClsIq3Md,
.cRLy9cx4H609NcUJyWLNZ,
._35LDta9YX5xtiD3_x2NCvN,
._32QUqlUsg9JucKf4gb8dvV,
._2lxakTS1tH2aQrtj58P_VW,
.caNVe9NrUryJ1rV7qxcn_,
._3_fqyl6uvUcgBJYEKeeXfT {
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: 0.03em;
}
._2s1UYdrr-gZwCOLz10BfhL {
  font-size: var(--mc-scale-5);
  line-height: 1.6;
  letter-spacing: 0.01em;
}
._3c_OFtES82o-1EyLwQXC-J {
  font-size: var(--mc-scale-4);
  line-height: 1.5;
  letter-spacing: 0.01em;
}
._3R_JtfuW8749_9HC02hhu8 {
  font-size: var(--mc-scale-3-5);
  line-height: 1.45;
  letter-spacing: 0.01em;
}
.hC-X1zTAwsOneF6U4B7mp {
  font-size: var(--mc-scale-3);
  line-height: 1.45;
  letter-spacing: 0.01em;
}
.LsPoZWXzrSN2CZuFaI-5- {
  letter-spacing: 0.06em;
  text-transform: uppercase !important;
}
._3H0WfkKDREhTeTwz3e5wm2 {
  text-transform: lowercase !important;
}
._2mK4IU6tBEhTLkWPJSyM1A {
  text-transform: capitalize !important;
}
._2faAKv7Ho2pUPruHvpAY5f {
  font-weight: 500 !important;
}
strong,
b {
  font-weight: 500 !important;
}
em {
  font-style: italic !important;
}
._1J9Crz6n9JcjpgV6mRjux5 {
  font-style: italic !important;
}
i {
  font-style: italic !important;
}
._1cxl9ZpA_z0CygAfBaPeA- {
  font-weight: 400 !important;
}
._2IoAXKK6wNblyeV5E68byt {
  font-weight: 300 !important;
}
._8liOcta8oewUdicQVTQIT {
  text-decoration: underline !important;
}
u {
  text-decoration: underline !important;
}
._2VljXcsbNDZ2wUPUAvb8hd {
  font-weight: 400 !important;
  letter-spacing: 0.24em !important;
  text-transform: uppercase !important;
}
._2gpQ3G869sOLHDq4Cc9Ond,
._395kvnyG7ENnhOttI2eD_t,
._2kAuJQF6VQMLvwoC0lj7gl,
._1EYuVttVO48lvBoXVrSjZg,
._2HF1YLhSKhLf0QgTBOIYsP,
._1JiXPlMoAiSR1RLfcLoJBh {
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
._2gpQ3G869sOLHDq4Cc9Ond,
._395kvnyG7ENnhOttI2eD_t {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 1.5em;
}
._2gpQ3G869sOLHDq4Cc9Ond[class*="mc-text-h"],
[class*="mc-text-h"] ._2gpQ3G869sOLHDq4Cc9Ond,
._395kvnyG7ENnhOttI2eD_t[class*="mc-text-h"],
[class*="mc-text-h"] ._395kvnyG7ENnhOttI2eD_t {
  height: 1.25em;
}
._2gpQ3G869sOLHDq4Cc9Ond._3R_JtfuW8749_9HC02hhu8,
._3R_JtfuW8749_9HC02hhu8 ._2gpQ3G869sOLHDq4Cc9Ond,
._395kvnyG7ENnhOttI2eD_t._3R_JtfuW8749_9HC02hhu8,
._3R_JtfuW8749_9HC02hhu8 ._395kvnyG7ENnhOttI2eD_t {
  height: 1.45em;
}
._2gpQ3G869sOLHDq4Cc9Ond._2s1UYdrr-gZwCOLz10BfhL,
._2s1UYdrr-gZwCOLz10BfhL ._2gpQ3G869sOLHDq4Cc9Ond,
._395kvnyG7ENnhOttI2eD_t._2s1UYdrr-gZwCOLz10BfhL,
._2s1UYdrr-gZwCOLz10BfhL ._395kvnyG7ENnhOttI2eD_t {
  height: 1.6em;
}
._395kvnyG7ENnhOttI2eD_t {
  height: auto;
  max-height: 1.5em;
}
._395kvnyG7ENnhOttI2eD_t[class*="mc-text-h"],
[class*="mc-text-h"] ._395kvnyG7ENnhOttI2eD_t {
  height: auto;
  max-height: 1.25em;
}
._395kvnyG7ENnhOttI2eD_t._3R_JtfuW8749_9HC02hhu8,
._3R_JtfuW8749_9HC02hhu8 ._395kvnyG7ENnhOttI2eD_t {
  height: auto;
  max-height: 1.45em;
}
._395kvnyG7ENnhOttI2eD_t._2s1UYdrr-gZwCOLz10BfhL,
._2s1UYdrr-gZwCOLz10BfhL ._395kvnyG7ENnhOttI2eD_t {
  height: auto;
  max-height: 1.6em;
}
._2kAuJQF6VQMLvwoC0lj7gl,
._1EYuVttVO48lvBoXVrSjZg {
  height: 3em;
  -webkit-line-clamp: 2;
}
._2kAuJQF6VQMLvwoC0lj7gl[class*="mc-text-h"],
[class*="mc-text-h"] ._2kAuJQF6VQMLvwoC0lj7gl,
._1EYuVttVO48lvBoXVrSjZg[class*="mc-text-h"],
[class*="mc-text-h"] ._1EYuVttVO48lvBoXVrSjZg {
  height: 2.5em;
}
._2kAuJQF6VQMLvwoC0lj7gl._3R_JtfuW8749_9HC02hhu8,
._3R_JtfuW8749_9HC02hhu8 ._2kAuJQF6VQMLvwoC0lj7gl,
._1EYuVttVO48lvBoXVrSjZg._3R_JtfuW8749_9HC02hhu8,
._3R_JtfuW8749_9HC02hhu8 ._1EYuVttVO48lvBoXVrSjZg {
  height: 2.9em;
}
._2kAuJQF6VQMLvwoC0lj7gl._2s1UYdrr-gZwCOLz10BfhL,
._2s1UYdrr-gZwCOLz10BfhL ._2kAuJQF6VQMLvwoC0lj7gl,
._1EYuVttVO48lvBoXVrSjZg._2s1UYdrr-gZwCOLz10BfhL,
._2s1UYdrr-gZwCOLz10BfhL ._1EYuVttVO48lvBoXVrSjZg {
  height: 3.2em;
}
._1EYuVttVO48lvBoXVrSjZg {
  height: auto;
  max-height: 3em;
}
._1EYuVttVO48lvBoXVrSjZg[class*="mc-text-h"],
[class*="mc-text-h"] ._1EYuVttVO48lvBoXVrSjZg {
  height: auto;
  max-height: 2.5em;
}
._1EYuVttVO48lvBoXVrSjZg._3R_JtfuW8749_9HC02hhu8,
._3R_JtfuW8749_9HC02hhu8 ._1EYuVttVO48lvBoXVrSjZg {
  height: auto;
  max-height: 2.9em;
}
._1EYuVttVO48lvBoXVrSjZg._2s1UYdrr-gZwCOLz10BfhL,
._2s1UYdrr-gZwCOLz10BfhL ._1EYuVttVO48lvBoXVrSjZg {
  height: auto;
  max-height: 3.2em;
}
._2HF1YLhSKhLf0QgTBOIYsP,
._1JiXPlMoAiSR1RLfcLoJBh {
  height: 4.5em;
  -webkit-line-clamp: 3;
}
._2HF1YLhSKhLf0QgTBOIYsP[class*="mc-text-h"],
[class*="mc-text-h"] ._2HF1YLhSKhLf0QgTBOIYsP,
._1JiXPlMoAiSR1RLfcLoJBh[class*="mc-text-h"],
[class*="mc-text-h"] ._1JiXPlMoAiSR1RLfcLoJBh {
  height: 3.75em;
}
._2HF1YLhSKhLf0QgTBOIYsP._3R_JtfuW8749_9HC02hhu8,
._3R_JtfuW8749_9HC02hhu8 ._2HF1YLhSKhLf0QgTBOIYsP,
._1JiXPlMoAiSR1RLfcLoJBh._3R_JtfuW8749_9HC02hhu8,
._3R_JtfuW8749_9HC02hhu8 ._1JiXPlMoAiSR1RLfcLoJBh {
  height: 4.35em;
}
._2HF1YLhSKhLf0QgTBOIYsP._2s1UYdrr-gZwCOLz10BfhL,
._2s1UYdrr-gZwCOLz10BfhL ._2HF1YLhSKhLf0QgTBOIYsP,
._1JiXPlMoAiSR1RLfcLoJBh._2s1UYdrr-gZwCOLz10BfhL,
._2s1UYdrr-gZwCOLz10BfhL ._1JiXPlMoAiSR1RLfcLoJBh {
  height: 4.8em;
}
._1JiXPlMoAiSR1RLfcLoJBh {
  height: auto;
  max-height: 4.5em;
}
._1JiXPlMoAiSR1RLfcLoJBh[class*="mc-text-h"],
[class*="mc-text-h"] ._1JiXPlMoAiSR1RLfcLoJBh {
  height: auto;
  max-height: 3.75em;
}
._1JiXPlMoAiSR1RLfcLoJBh._3R_JtfuW8749_9HC02hhu8,
._3R_JtfuW8749_9HC02hhu8 ._1JiXPlMoAiSR1RLfcLoJBh {
  height: auto;
  max-height: 4.35em;
}
._1JiXPlMoAiSR1RLfcLoJBh._2s1UYdrr-gZwCOLz10BfhL,
._2s1UYdrr-gZwCOLz10BfhL ._1JiXPlMoAiSR1RLfcLoJBh {
  height: auto;
  max-height: 4.8em;
}
.uchfsM0cwCshXk7KqVlEl {
  color: #f24462;
}
._3TzBzezqf0bgXgXWWdFD5V {
  color: #3ebb70;
}
._2y9amjPcsZ9MCN4LbcVRaJ {
  color: #f1bd5b;
}
._3q6Mu9uZ0Fn90EiVOyKCLJ {
  color: #fff;
}
._2t5Ydar_4mUkGhTx-g3zpa {
  color: #000;
}
._1okm8q6hLLLkbHHyjyWDxj {
  color: #f24462;
}
._3KmjvKUixEAGtNMnDbh1TW {
  color: #191c21;
}
._3UNo9mKv1BhSSZLztqC2Zk {
  color: #272c33;
}
._2ZrYJbMmE2AUE7Pn-WgrtC {
  color: #31333b;
}
._1amWHdO-asR3MwWPXa7oVp {
  color: #596170;
}
.xPWHyS6zkmjoPcl69XX3J {
  color: #949aa4;
}
.SJzP22NpOVfkk2Ipwal-1 {
  color: #dbdde1;
}
._3wn-cBGl7ujGv_m1_znbtY,
._3wn-cBGl7ujGv_m1_znbtY:hover,
.RpHyugJmjEalSZTWqec8M:hover,
._24H2btbPOkzqD3vsgXerSn:hover .RpHyugJmjEalSZTWqec8M {
  text-decoration: underline;
  cursor: pointer;
}
._24H2btbPOkzqD3vsgXerSn:hover {
  cursor: pointer;
}
._3lai03WDC9kWay7yr6nfx2 {
  font-family: monospace !important;
}
._2mBIAMfZaXYxOs0NWkOet3 {
  white-space: nowrap;
}
@media (min-width: 0) {
  ._2uHU_sOZSkcFqkIxVa3SMr {
    text-align: left !important;
  }
  ._267knIYkOVZ-1_IYqFNMWs {
    text-align: right !important;
  }
  ._3JN9PlRQHQE4LEbb70eQFX {
    text-align: center !important;
  }
}
@media (min-width: 576px) {
  ._2dR7i3FFB-KCgpIdASESkV {
    text-align: left !important;
  }
  ._2KB9VK-giXZNG4EEYXQPzX {
    text-align: right !important;
  }
  .jXvVletK7I04z2g8q8Pz4 {
    text-align: center !important;
  }
}
@media (min-width: 768px) {
  ._1SYc6aFpjX7dXmn6kybJRr {
    text-align: left !important;
  }
  ._2CZi1xtXLAhIJCaMkpDjec {
    text-align: right !important;
  }
  ._1XYWBlXyut3GUI5DT-ikOJ {
    text-align: center !important;
  }
}
@media (min-width: 960px) {
  .iJbihqzchlj-ZEJhHujUn {
    text-align: left !important;
  }
  ._3Z_XLJiaZd7NQpr_SqkpQK {
    text-align: right !important;
  }
  ._6_FcaePepVcOjz7cWNx-l {
    text-align: center !important;
  }
}
@media (min-width: 1200px) {
  ._2R0J8uXjpuCvVpvDU-g_3R {
    text-align: left !important;
  }
  ._3Gl7iwuGQeYb7txl6bvel2 {
    text-align: right !important;
  }
  ._21b7o2nHiEHZJx4SBkmGFk {
    text-align: center !important;
  }
}
._2doDxxkOpH2WiF95-JT2I6 {
  position: relative;
  overflow: hidden;
  text-align: center;
}
._2doDxxkOpH2WiF95-JT2I6 span {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 0 0.75em;
}
._2doDxxkOpH2WiF95-JT2I6 span:before,
._2doDxxkOpH2WiF95-JT2I6 span:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 1px;
  background: var(--mc-theme-text-hr-span-after);
}
._2doDxxkOpH2WiF95-JT2I6 span:before {
  left: 100%;
}
._2doDxxkOpH2WiF95-JT2I6 span:after {
  right: 100%;
}
.jLAlLzEPcEz_DnBYzuSCF {
  border-radius: var(--mc-scale-3);
  position: relative;
  overflow: hidden;
  z-index: 999;
}
:root {
  --animation-duration: 2s;
  --button-containter-height: 138px;
}
@media (min-width: 768px) {
  :root {
    --button-containter-height: 178px;
  }
}
@media (min-width: 960px) {
  :root {
    --button-containter-height: 132px;
  }
}
._2WL6nGVoxJdLC0NJOKJ3KD {
  -webkit-animation-duration: var(--animation-duration);
  animation-duration: var(--animation-duration);
  transform-origin: bottom;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  transform: translateY(var(--button-containter-height));
}
._2WL6nGVoxJdLC0NJOKJ3KD ._38eWKCvUw2nT8-YNgS2LoG {
  height: var(--button-containter-height);
}
._2Q2K82CfYVkomwIDPqZKZ0 {
  -webkit-animation-name: _2Q2K82CfYVkomwIDPqZKZ0;
  animation-name: _2Q2K82CfYVkomwIDPqZKZ0;
  transform: translateY(0);
}
._7KSAxbu9g3v7CAKaeIGdr {
  -webkit-animation-name: _7KSAxbu9g3v7CAKaeIGdr;
  animation-name: _7KSAxbu9g3v7CAKaeIGdr;
  transform: translateY(var(--button-containter-height));
}
._3pbbOldQsVMkWqEC3_w1wX {
  -webkit-animation-duration: var(--animation-duration);
  animation-duration: var(--animation-duration);
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  opacity: 0;
}
._36fOxFC6wLkSSKFJX6DbpX {
  -webkit-animation-name: _36fOxFC6wLkSSKFJX6DbpX;
  animation-name: _36fOxFC6wLkSSKFJX6DbpX;
  opacity: 1;
}
._3jzYC16Fq1oOYzY7hjGt3o {
  -webkit-animation-name: _3jzYC16Fq1oOYzY7hjGt3o;
  animation-name: _3jzYC16Fq1oOYzY7hjGt3o;
  opacity: 0;
}
._3i7aCJ37J8U7mTD_0e3Kfu.mc-tile-overlay--gradient-bottom {
  background: linear-gradient(rgba(0, 0, 0, 0) 0%, black 100%);
}
._3i7aCJ37J8U7mTD_0e3Kfu.mc-tile-overlay--gradient-left {
  background: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, black 100%);
}
._3oyvZO8Y4fKYBe7P-sPzkH {
  cursor: default;
}
@-webkit-keyframes _2Q2K82CfYVkomwIDPqZKZ0 {
  0% {
    transform: translateY(var(--button-containter-height));
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes _2Q2K82CfYVkomwIDPqZKZ0 {
  0% {
    transform: translateY(var(--button-containter-height));
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes _7KSAxbu9g3v7CAKaeIGdr {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(var(--button-containter-height));
  }
  100% {
    transform: translateY(var(--button-containter-height));
  }
}
@keyframes _7KSAxbu9g3v7CAKaeIGdr {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(var(--button-containter-height));
  }
  100% {
    transform: translateY(var(--button-containter-height));
  }
}
@-webkit-keyframes _36fOxFC6wLkSSKFJX6DbpX {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes _36fOxFC6wLkSSKFJX6DbpX {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes _3jzYC16Fq1oOYzY7hjGt3o {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes _3jzYC16Fq1oOYzY7hjGt3o {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
._6lLnf1CYVIGnS8KwHghR2 {
  border-radius: 1rem;
}
._34CbARBNUrOCsUTsjHgqgD {
  background-color: #313131;
  border-radius: 1rem;
}
